################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vsconfig
/Assembly-CSharp.csproj
/Assets
/Assets.rar
/finalmagic.sln
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
